.content {
    grid-area: c;
 //background-color: #9c779c;
    color: #686868;
    font-weight: bold;
}

.mainContent {
    width: 1000px;
    height: 550px;
}

.avatar {
    max-width: 350px;
    margin-top: 10px;
}

.contact{
    padding-left: 10px;
}