.nav {
    grid-area: n;
    background-color: #61adad;
    color: white;
    font-weight: bold;
    padding: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a.active {
    color: #4b8080;
}