.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {

}

.item a {
    text-decoration: none;
    color: #898989;
    font-weight: bold;
}

.item a.active {
    color: #2d242d;
}

.item {
    padding: 10px;

}

.messages {

}

.message {
    padding: 10px;
}